@media only screen and (max-width: 1023px) {
    .navbar {
        width: 100%;
        padding: 16px;
        left: 0;
    }

    .navbar .profile {
        display: none;
    }

    .sidebar {
        display: none;
    }

    main {
        width: auto;
        min-width: 100%;
        padding: 16px;
        left: 0;
    }

    .about-book .add-library span.txt-library {
        display: none;
    }
}

@media only screen and (max-width: 640px) {

    .recent-container .table-author,
    .recent-container .table-category,
    .recent-container .table-release-date,
    .recent-container .fav,
    .recent-container .more {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }

    section.about-book {
        flex-direction: column;
        align-items: center;
    }

    section.about-book .book-info {
        text-align: center;
        align-items: center;
    }

    section.about-book .book-info .txt-info {
        margin-bottom: 40px;
    }


}