@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./css/fonts.css";
@import "./css/colors.css";
@import "./css/scrollbar.css";

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-image: var(--content-background-gradient);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* navigation */
.sidebar {
    position: fixed;
    width: 241px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 0 8px;
    z-index: 1000;
}

.sidebar .container {
    width: 100%;
}

.sidebar .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo {
    height: 40px;
    margin: 32px 0 40px;
}

.sidebar a.btn {
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: var(--primary-white);
    transition: 0.2s;
}

.sidebar .upload {
    background-color: var(--primary-white);
}

.sidebar a.upload {
    font-weight: 600;
    color: var(--background);
}

.upload-container .info p {
    margin-top: 4px;
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0.0025em;
    color: var(--primary-white);
    opacity: .76;
}

.upload-container {
    margin-bottom: 24px;
}

.sidebar-menu a:hover {
    background-color: var(--background-component);
}

.navbar {
    width: calc(100% - 241px);
    position: fixed;
    left: 241px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background: var(--background);
    box-shadow: 0px 2px 16px rgba(64, 75, 105, 0.16);
}

.navbar .searchbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 24px;
}

.searchbar span.material-icons {
    font-size: 21px;
    position: absolute;
    padding: 8px;
    color: var(--background);
}

.navbar .searchbar input {
    flex: 0 1 440px;
    padding: 8px 16px 8px 37px;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.0025em;
    border: none;
    border-radius: 100px;
}

.navbar .profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.005em;
    font-weight: 600;
    color: var(--primary-white);
}

.navbar-menu {
    z-index: 1000;
}

/* main content */
main {
    width: calc(100% - 241px);
    position: absolute;
    left: 241px;
    top: 69px;
    padding: 32px;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

section h1 {
    margin-bottom: 32px;
    font-size: 1.5rem;
    line-height: 118%;
    letter-spacing: 0.0025em;
    font-weight: 600;
    color: var(--primary-white);
}

section.about-book h1 {
    font-size: 3rem;
    line-height: 118%;
    letter-spacing: 0.0025em;
    font-weight: 600;
}

/* homepage - hero carousel */
.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #2b6cb0;
    /*Set to match the Tailwind colour you want the active one to be */
}

/* cards */
.cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 24px;
}

.cards .card.buku {
    padding: 0;
}

.cards .card.buku {
    overflow: hidden;
}

.cards .card.buku .txt-content {
    padding: 16px;
    margin-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 6px;
    background-color: var(--background-component-2);
    transition: 0.2s;
}

a .card:hover {
    background-color: var(--background-component);
}

.card img {
    max-width: 100%;
}

.card .txt-content {
    margin-top: 16px;
}

.card .txt-content p {
    margin-top: 4px;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.0025em;
    color: var(--subtext);
}

.card .txt-content h2 {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.005em;
    font-weight: 600;
    color: var(--primary-white);
}

/* explore page - cards category */
.cards-category {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 24px;
}

.cards-category .card-category {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 208px;
    min-height: 134px; */
    padding: 54px 0;
    border-radius: 6px;
    background-color: var(--background-component-2);
}

.card-category {
    font-size: 1.375rem;
    line-height: 118%;
    letter-spacing: 0.0025em;
    font-weight: 600;
    color: var(--primary-white);
}

.cards-category a .card-category:hover {
    background-color: var(--background-component);
}

/* homepage - recent container */
table {
    border-collapse: separate;
    border-spacing: 0 4px;
}

.recent-container table {
    width: 100%;
}

.recent-container table th {
    text-align: left;
}

.recent-container .line-separator {
    width: 100%;
    height: 1px;
    background-color: var(--background-component);
    margin-bottom: 8px;
}

.head-table th {
    font-size: 0.75rem;
    line-height: 170%;
    letter-spacing: 0.015em;
    color: var(--primary-white);
    padding: 8px;
}

.recent-container .data td {
    padding: 8px;
    font-size: 1rem;
    align-items: center;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: var(--primary-white);
    vertical-align: middle;
    cursor: pointer;
}

.recent-container .data td.title-thumb,
.recent-container .data span.material-icons {
    border-radius: 6px 0 0 6px;
    display: flex;
    gap: 16px;
}

.recent-container .data td.more {
    border-radius: 0 6px 6px 0;
}

.recent-container tr.data:hover td {
    background-color: var(--background-component-2);
}

/* button */
.btn {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 1.25px;
    font-weight: 600;
}

/* reading-page - book info on sidebar */
.book-info {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.025em;
    font-weight: 500;
    color: var(--primary-white);
}

.description-book .txt-content p {
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: 0.005em;
    font-weight: 300;
    color: var(--primary-white);
}

/* reading-page - reading font */

.reading-page.paper {
    font-family: 'PT Serif', serif;
    text-align: justify;
    letter-spacing: 0.02em;
    color: #292929;
}

.reading-page.paper h1 {
    font-size: 3rem;
    line-height: 150%;
    font-weight: 700;
}

.reading-page.paper h2 {
    font-size: 1.5rem;
    line-height: 32px;
}

.reading-page.paper p {
    font-size: 1rem;
    line-height: 32px;
    text-indent: 32px;
}

input:focus {
    outline: none !important;
    border: 2px solid var(--component);
    box-shadow: 0 0 8px #719ECE;
}

/* author - author font */
.author-info {
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: 0.005em;
    font-weight: 300;
    color: var(--primary-white);
}

/* upload page */
.upload-box {
    width: 374px;
    color: var(--primary-white);
}

.upload-box h3 {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.005em;
    font-weight: 600;
}

.upload-box p {
    font-size: 0.875rem;
    line-height: 118%;
    letter-spacing: 0.001em;
    font-weight: 500;
}

.custom-file-filter.btn {
    border-radius: 100px;
}

.form-wrapper .form {
    display: flex;
    flex-direction: column;
    color: var(--background);
    margin-bottom: 16px;
}

.form-wrapper .form label {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.0025em;
    color: var(--primary-white);
    margin-bottom: 8px;
}

.form-wrapper .form input, .form-wrapper .form textarea,
.form-wrapper .form select {
    padding: 16px;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.005em;
    border-radius: 6px;
}

.form-wrapper .form select {
    color: var(--background);
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-wrapper .form textarea {
    height: 640px;
}

.submit-btn {
    font-size: 0.875rem;
    font-weight: 500;
}